
.store-navigator[data-v-a50d63ee] {
  width: 15rem;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 1040;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  padding: 0;
  background-color: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  text-align: left;
  padding-left: 0;
  list-style: none;
}
.store-navigator.overflow-y[data-v-a50d63ee] {
    overflow-y: auto;
}
.store-navigator.relative[data-v-a50d63ee] {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative;
}
.store-navigator.absolute[data-v-a50d63ee] {
    position: absolute;
}
.store-navigator .collapsible[data-v-a50d63ee] {
    margin: 1rem 0 0 1rem;
    padding: 0;
}
.store-navigator .collapsible .fa[data-v-a50d63ee] {
      font-size: .8rem;
      margin-right: 13px;
}
.store-navigator .collapsible ul[data-v-a50d63ee] {
      padding: 0;
      padding-left: 0;
      list-style: none;
}
.store-navigator .collapsible li .collapsible-header[data-v-a50d63ee] {
      color: white;
      transition: all 0.3s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
.store-navigator .collapsible li .collapsible-header[data-v-a50d63ee] {
          transition: none;
}
}
.store-navigator .collapsible li a[data-v-a50d63ee] {
      padding-left: 15px;
}
.store-navigator a[data-v-a50d63ee] {
    display: block;
    color: white;
    font-weight: 300;
    font-size: .8rem;
    height: 36px;
    line-height: 36px;
}
.store-navigator a .fa[data-v-a50d63ee] {
      font-size: .8rem;
      margin-right: 13px;
}
.store-navigator ul[data-v-a50d63ee] {
    padding-left: 0;
    list-style: none;
    padding-left: 0;
}
.store-navigator ul.list-unstyled li[data-v-a50d63ee] {
    padding-left: 2rem;
}


.book-title[data-v-c41f84fa] {
  font-size: 14px;
}
.book-author[data-v-c41f84fa] {
  font-size: 21px;
}
.book-price[data-v-c41f84fa] {
  margin-top: 15px;
  font-size: 14px;
}


.rgba-black-view[data-v-7acd6f22] {
  background-color: rgba(0, 0, 0, 0.7);
}
.rgba-black-view hr[data-v-7acd6f22] {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.container-fluid.adjusted[data-v-7acd6f22] {
  padding-top: 64px;
}
.flex-fill[data-v-7acd6f22] {
  flex: 1 1 auto;
}


.book-title[data-v-6dd93182] {
  font-size: 14px;
}
.book-status[data-v-6dd93182] {
  font-size: 14px;
}
.book-author[data-v-6dd93182] {
  font-size: 21px;
}
.book-price[data-v-6dd93182] {
  margin-top: 15px;
  font-size: 14px;
}


.rgba-black-view[data-v-15c78c32] {
  background-color: rgba(0, 0, 0, 0.7);
}
.rgba-black-view hr[data-v-15c78c32] {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.container-fluid.adjusted[data-v-15c78c32] {
  padding-top: 64px;
}
.flex-fill[data-v-15c78c32] {
  flex: 1 1 auto;
}


.book-title[data-v-5482c477] {
  font-size: 14px;
}
.book-author[data-v-5482c477] {
  font-size: 21px;
}
.book-description[data-v-5482c477] {
  font-size: 13px;
}
.book-price[data-v-5482c477] {
  margin-top: 15px;
  font-size: 14px;
}


.rgba-black-view[data-v-5399b7d5] {
  background-color: rgba(0, 0, 0, 0.7);
}
.rgba-black-view hr[data-v-5399b7d5] {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.container-fluid.adjusted[data-v-5399b7d5] {
  padding-top: 64px;
}
.flex-fill[data-v-5399b7d5] {
  flex: 1 1 auto;
}


.book-title[data-v-6e8b0eae] {
  font-size: 12px;
}
.book-author[data-v-6e8b0eae] {
  font-size: 14px;
}


.fas[data-v-4c4a1952] {
  font-size: 1.25rem;
}


.toggle-navigator[data-v-39a7aecf] {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 3rem;
  margin-left: 3rem;
}


.rgba-black-view[data-v-1cd6850e] {
  background-color: rgba(0, 0, 0, 0.7);
}
.rgba-black-view hr[data-v-1cd6850e] {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.container.adjusted[data-v-1cd6850e] {
  padding-top: 64px;
}
.flex-fill[data-v-1cd6850e] {
  flex: 1 1 auto;
}


.rgba-black-view[data-v-044cbf9e] {
  background-color: rgba(0, 0, 0, 0.7);
}
.rgba-black-view hr[data-v-044cbf9e] {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.container-fluid.adjusted[data-v-044cbf9e] {
  padding-top: 64px;
}
.flex-fill[data-v-044cbf9e] {
  flex: 1 1 auto;
}


.rgba-black-view[data-v-2b348a4b] {
  background-color: rgba(0, 0, 0, 0.7);
}
.rgba-black-view hr[data-v-2b348a4b] {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.chatbox-rgba[data-v-2b348a4b] {
  background-color: rgba(255, 255, 255, 0.1);
}
.container.adjusted[data-v-2b348a4b] {
  padding-top: 64px;
}
.flex-fill[data-v-2b348a4b] {
  flex: 1 1 auto;
}


.book-title[data-v-6c485c8a] {
  font-size: 14px;
}
.book-author[data-v-6c485c8a] {
  font-size: 21px;
}
.book-description[data-v-6c485c8a] {
  font-size: 13px;
}
.book-price[data-v-6c485c8a] {
  margin-top: 15px;
  font-size: 14px;
}


.rgba-black-view[data-v-4acb700a] {
  background-color: rgba(0, 0, 0, 0.7);
}
.rgba-black-view hr[data-v-4acb700a] {
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.container-fluid.adjusted[data-v-4acb700a] {
  padding-top: 64px;
}
.flex-fill[data-v-4acb700a] {
  flex: 1 1 auto;
}



.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

