<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MONAD.LT</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/vendors.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    @RenderSection("AdditionalStyling", required: false)
</head>
<body>
    <section id="vue-application">
        <application></application>
    </section>
    <script src="~/js/runtime.js" asp-append-version="true"></script>
    <script src="~/js/vendors.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>