@charset "UTF-8";
.font.raleway {
  font-family: 'Raleway'; }

.font.light {
  font-weight: 300; }

.font.regular {
  font-weight: 400; }

.font.bold {
  font-weight: 700; }

.navbar-monad {
  background-color: rgba(40, 16, 8, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.navbar-monad button {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  outline: 0;
  border-width: 0; }

.navbar-monad .navbar-brand,
.navbar-monad .navbar-brand:focus,
.navbar-monad .navbar-brand:hover {
  color: #fff; }

.navbar-monad .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  cursor: pointer; }

/* change the link color */
.navbar-monad .navbar-nav .nav-link {
  color: white; }

/* change the color of active or hovered links */
.navbar-monad .nav-item.active .nav-link,
.navbar-monad .nav-item:hover .nav-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: white; }

section {
  display: contents; }

html, body, header, .view {
  height: 100%;
  overflow: auto; }

.view, .mask {
  overflow-y: auto !important; }

.overflow-y {
  position: absolute;
  overflow-y: auto !important; }

.container.adjusted,
.container-fluid.adjusted {
  padding-top: 56px; }

.background-image {
  background: url("/images/background-overlay-view.png") no-repeat center center;
  background-size: cover; }

.btn-floating {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer; }
  .btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff; }
  .btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px; }
    .btn-floating.btn-lg i {
      font-size: 1.625rem;
      line-height: 61.1px; }
  .btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px; }
    .btn-floating.btn-sm i {
      font-size: .96154rem;
      line-height: 36.15385px; }
  .btn-floating.btn-outline {
    background-color: transparent;
    border: 1px solid black; }

.rgba-black-view {
  color: white;
  background-color: rgba(0, 0, 0, 0.7); }
  .rgba-black-view hr {
    border-top: 1px solid rgba(153, 153, 153, 0.3); }

.card.authorization {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
  border-radius: 0px;
  text-align: center; }
  .card.authorization .card-body, .card.authorization .card-header {
    background-color: transparent; }
  .card.authorization .card-header {
    font-family: "Raleway";
    font-weight: 300; }
  .card.authorization input[type=checkbox]:checked + label::before {
    background-color: black !important; }
  .card.authorization .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important; }
  .card.authorization hr {
    border-top: 1px solid rgba(153, 153, 153, 0.3); }
  .card.authorization a {
    color: inherit; }

/* ------------------------------ ------------------------------ */
/* ------------------------------ ------------------------------ */
.card.default-styling {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
  border-radius: 0px;
  text-align: center; }
  .card.default-styling .card-body, .card.default-styling .card-header {
    background-color: transparent; }
  .card.default-styling .card-header {
    font-weight: 300;
    font-family: "Raleway";
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    .card.default-styling .card-header h4 {
      margin: 0; }

/* ------------------------------ ------------------------------ */
/* ------------------------------ ------------------------------ */
.scrollbar-white::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px; }

.scrollbar-white::-webkit-scrollbar {
  width: 12px;
  background-color: transparent; }

.scrollbar-white::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px; }

.bordered-white::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid transparent; }

.bordered-white::-webkit-scrollbar-thumb {
  box-shadow: none;
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 4px; }

/* ------------------------------ ------------------------------ */
/* ------------------------------ ------------------------------ */
.container-fluid.default-container {
  height: 100%;
  padding: 0; }
  .container-fluid.default-container.adjust-navigator {
    padding-top: 56px; }
  .container-fluid.default-container .window-container {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    @media (min-width: 992px) {
      .container-fluid.default-container .window-container {
        padding-top: 6rem;
        padding-bottom: 6rem; } }
  .container-fluid.default-container .card {
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 4px #000;
    box-shadow: 0 0 4px #000;
    border-radius: 0px; }

/* ------------------------------ ------------------------------ */
/* ------------------------------ ------------------------------ */
.md-form {
  color: white !important; }
  .md-form label {
    color: white !important; }

.form-control::-webkit-input-placeholder {
  color: white !important; }

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: white !important; }

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: white !important; }

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: white !important; }

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: white !important; }

/* Microsoft Edge */
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
  color: white !important; }
  input[type=email]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=text]:focus:not([readonly]) + label,
  textarea.md-textarea:focus:not([readonly]) + label {
    color: white !important; }

.md-form input[type=password],
.md-form input[type=email],
.md-form input[type=text] {
  border-bottom: 1px solid white !important;
  color: white !important; }
  .md-form input[type=password] + label,
  .md-form input[type=email] + label,
  .md-form input[type=text] + label {
    color: white !important; }

.white-adjusted .md-form input[type=password],
.white-adjusted .md-form input[type=email],
.white-adjusted .md-form input[type=text] {
  border-bottom: 1px solid black !important;
  color: black !important; }
  .white-adjusted .md-form input[type=password] + label,
  .white-adjusted .md-form input[type=email] + label,
  .white-adjusted .md-form input[type=text] + label {
    color: black !important; }

